@import './reset.css';
@import './header-nav.css';
@import './footer.css';
@import './form.css';
@import './button.css';
@import './products.css';
@import './products-forms.css';
@import './products-manage.css';
@import './login-signup.css';
@import './one-product.css';
@import './home.css';


@import url('https://fonts.googleapis.com/css?family=Faster+One|Oswald:300,400,500,700|Source+Sans+Pro:300,400,600,700&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding:0;
}

h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding:0;
}

.big-container {
  display: flex;
  width: 100%;
}

.container {
  width: 90%;
}

.flexed-item {
  display: flex;
}

/** kids session */

.wrapper {
  margin: 0 auto;
  width: 1580px;
}

.h1-cat {
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 40px;
}

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-shoes {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  box-shadow: 2px 2px;
}

.img-shoes img {
  height: 250px;
  width: 300px;
}

.title-shoes h2 {
  font-size: 20px;
}

.price {
  font-size: 22px;
  color: green;
}

.info-box-shoes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}